PORT=3000
HIVEMQ_HOST=tu-cluster.s1.eu.hivemq.cloud
HIVEMQ_USERNAME=tu_usuario
HIVEMQ_PASSWORD=tu_password
MQTT_TOPIC=yaguarete/fernando/luz
# Igual que en toggle.ts: dejar en false si usás el cluster sin cert local
# HIVEMQ_REJECT_UNAUTHORIZED=false
